@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.header{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.input {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.count {
    text-align: center;
    flex: 40%;
}

.currency {
    flex: 20%;
    text-align: center;
}

.submit {
    flex: 40%;
    text-align: center;
}